In [2]:
import pandas as pd

In [31]:
import random

In [195]:
df =pd.read_csv("../csv/train_0.csv")

In [196]:
len(df)

2608

In [197]:
def datasplit(num_nodes,df):
#     parser = argparse.ArgumentParser(description='Server module.')
#     parser.add_argument('--num_nodes', type=int, default=5)
#     parser.add_argument('--input_file', type=str)
#     parser.add_argument('--output_file',type=str)
#     args = parser.parse_args()
    
#     df=pd.read_csv(args['input_file'])
    
    
    length=len(df)
    numrows = int(length/num_nodes)
    nodes = [[] for i in range(num_nodes) ]
    count=0
    while(count<num_nodes):
        length = len(df)
        indices = random.sample(range(0, length), numrows)
        nodes[count] = df.loc[indices]
        df = df.drop(indices)
        df=df.reset_index(drop=True)
        count+=1
    
    for i in range(num_nodes):            
        temp=pd.DataFrame(nodes[i])
        filename = "node_" + str(i) + ".csv"
#         path = "../csv/split/" + filename + ".csv"
#         path = args["output_file"] + filename
        temp.to_csv(filename)
        
    print(df)

In [198]:
datasplit(10,df)

   Unnamed: 0                          image      label
0        4638      person901_virus_1555.jpeg  PNEUMONIA
1        2028  person1469_bacteria_3827.jpeg  PNEUMONIA
2        2046      person527_virus_1048.jpeg  PNEUMONIA
3        1986   person525_bacteria_2216.jpeg  PNEUMONIA
4        3773  person1171_bacteria_3118.jpeg  PNEUMONIA
5        3653     person73_bacteria_357.jpeg  PNEUMONIA
6         506              IM-0207-0001.jpeg     NORMAL
7        4390   person441_bacteria_1916.jpeg  PNEUMONIA

In [199]:

df1=pd.read_csv("node_0.CSV")
df1

     Unnamed: 0  Unnamed: 0.1                          image      label
0          1491          2614   person703_bacteria_2602.jpeg  PNEUMONIA
1          2208          2218     person1489_virus_2594.jpeg  PNEUMONIA
2          1825          2684  person1217_bacteria_3169.jpeg  PNEUMONIA
3            45           750      NORMAL2-IM-1110-0001.jpeg     NORMAL
4          1661          3498   person545_bacteria_2290.jpeg  PNEUMONIA
..          ...           ...                            ...        ...
255         501          2488      person515_virus_1032.jpeg  PNEUMONIA
256        2230          3827      person832_virus_1468.jpeg  PNEUMONIA
257        1310          2442   person253_bacteria_1155.jpeg  PNEUMONIA
258         227           797      NORMAL2-IM-0659-0001.jpeg     NORMAL
259        1901          3015   person563_bacteria_2338.jpeg  PNEUMONIA

[260 rows x 4 columns]

In [170]:
df

      Unnamed: 0                          image      label
0           2686   person669_bacteria_2561.jpeg  PNEUMONIA
1           3325  person1544_bacteria_4037.jpeg  PNEUMONIA
2           2212   person826_bacteria_2737.jpeg  PNEUMONIA
3            935              IM-0400-0001.jpeg     NORMAL
4            316      NORMAL2-IM-0925-0001.jpeg     NORMAL
...          ...                            ...        ...
2603        1993       person7_bacteria_25.jpeg  PNEUMONIA
2604        3219  person1046_bacteria_2980.jpeg  PNEUMONIA
2605        2530   person765_bacteria_2669.jpeg  PNEUMONIA
2606         567      NORMAL2-IM-0451-0001.jpeg     NORMAL
2607        1469  person1868_bacteria_4743.jpeg  PNEUMONIA

[2608 rows x 3 columns]